*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/dictionaries
/.idea/misc.xml
/.idea/libraries
/.idea/vcs.xml
/.idea/codeStyleSettings.xml
/.idea/compiler.xml
/.idea/copyright
/.idea/encodings.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/runConfigurations/*.xml
.DS_Store
/build
/captures
